@import "styles.less"; //Vanliga funktioner, som .border-radius()

.container-fluid {


    // Search
    //----------------------------------------

    form.form-search {
        input[type=search] {
        }
    }


    // Thumb grid
    //----------------------------------------

    a {
        border: 1px solid blacK;
        border-radius: 5px;

        max-width: 300px;
        min-width: 150px;
        width: 100%;

        display: inline-block;
        padding: 10px;
        margin: 20px;

        img {
            width: 100%;
        }
    }
}