// The list of preview images at the index page
//TODO: rename this file

.image-container {
    a.border {
        @maxWidth   = 300px;
        @minWidth   = 150px;
        @height     = @maxWidth / 16 * 9; //16:9 aspect ratio
        @borderSize = 10px;
        @margin     = 25px;

        .border-radius(10px);
        box-shadow: 0px 0px 0px 1px @ddd-grey;
        border:     @borderSize solid white;

        .transition(all, 250ms);

        max-width: @maxWidth;
        min-width: @minWidth;
        height:    @height;
        width:     100%;

        overflow: hidden;
        display:  inline-block;
        margin:   0px @margin @margin 0px;

        &:hover {
            box-shadow: 0px 0px 0px 1px @ddd-grey,
                        0px 0px 8px 3px @grey;

            img {

            }
        }


        //TODO: Rounded corners
        img {
            position: absolute;

            max-width: @maxWidth - @borderSize * 2;
            min-width: @minWidth - @borderSize * 2;
        }
    }
}